<form class="add-form">
  <mat-form-field class="input">
    <!--Using [Dom property] to make a property binding also a one way binging from component to dom-->
    <!--(input) is a property binding, using for deliver the input value to todoText-->
    <input matInput [placeholder]=placeholder type="text" (input)="changeTodoText($event)">
  </mat-form-field>
  <mat-form-field class="input">
    <!--[(ngModel)]  is a old way to do the two way binding-->
    <!--Using [(ngModel)] needs to import FormsModule-->
    <!--Don't use [(ngModel)] in reactive form, use form control to replace it-->
    <!--ngModel will be deprecated in version 7 when you using reactive form with form control-->
    <input matInput [placeholder]=placeholder [(ngModel)]="todoText2" name="todoText2">
  </mat-form-field>
</form>
<!--$event is for using event binding one way binding from dom to component-->
<button mat-raised-button color="primary" (click)="addTodo($event)">Add</button>
<br><br>
<!--css style will only use in its owner component and html file which will keep the whole css file clean-->
<!--if you want to add style sheet global, watch the src/style.css file-->
<div>
  <strong>Test strong tag in TodoItem component</strong>
  <br>
  <span class="blue">Test blue class in the span tag</span>
  <br>
  <!--use ngClass to import style which is quiet same as using class in this way-->
  <span [ngClass]="getBlueClass()">Test ngClass in the span tag</span>
</div>
