<!--normal way to do the list can not iterative-->
<mat-list>
  <mat-list-item><mat-checkbox>Todo Item 1</mat-checkbox><a mat-button>Delete</a></mat-list-item>
  <mat-list-item><mat-checkbox>Todo Item 2</mat-checkbox><a mat-button>Delete</a></mat-list-item>
  <mat-list-item><mat-checkbox>Todo Item 3</mat-checkbox><a mat-button>Delete</a></mat-list-item>
</mat-list>
<!--using ng-for to do the iterator-->
<h2>Using *ngFor to do the iterator</h2>
<!--there are five parameters in the *ngFor-->
<!--index:Integer, aka index-->
<!--first:Boolean, whether current item is the first one-->
<!--last:Boolean, whether current item is the last one-->
<!--even:Boolean, whether current index is even number-->
<!--odd:Boolean, whether current index is odd number-->
<!--use these parameters, you can easily modified your *ngFor structure-->

  <!--five parameters in *ngFor-->
<!--<mat-list *ngFor="let item of getTodoList();let recordIndex = index;let firstRecord = first;let lastRecord = last; let evenRecord = even; let oddRecord = odd">-->
  <!--item still belongs to items which need to use at least one way binding{{}}-->
  <!--use *ngIf to do the decide the span label will be created or not-->
  <!--use json as parameter , the property's name/key is our adding class, property's value is a boolean value to decide whether our style class will be add or not-->
  <!--example:[ngClass]="{'classA': true, 'classB': false}"-->
  <!--<mat-list-item ><mat-checkbox [checked]="item.done" id="item.id" [ngClass]="{'done':item.done,'text-danger':firstRecord, 'text-warning': lastRecotd, 'bg-info': evenRecord, 'bg-success': oddRecord}" (click)="itemClick(item)">{{recordIndex}}.{{item.value}}</mat-checkbox><a mat-button (click)="deleteItem(item)">Delete</a><span *ngIf="item.done">Already Finished</span></mat-list-item>-->
  <mat-list *ngFor="let item of getTodoList()">
    <!--{{item.id | date}} date is a pipe for transfer item.id a new Date() to a reasonable value-->
    <!--added a todo done pipe on the {{item.done}}-->
    <mat-list-item><mat-checkbox [checked]="item.done" id="item.id" (click)="itemClick(item)">{{item.id | date}}</mat-checkbox><a mat-button (click)="deleteItem(item)">Delete</a><!--<span *ngIf="item.done">Already Finished</span>--><span>{{item.done | todoDone:true}}</span></mat-list-item>
</mat-list>

<div>
  <strong>Test strong tag in TodoItem component</strong>
  <br>
  <span class="blue">Test blue class in the span tag</span>
</div>

<button appbsbutton="danger" mousedownclass="primary">Button with Attribute Directive</button>
