.strong{
  color: red;
}

.blue{
  color: blue;
}

.done{
  text-decoration: line-through;
}

.text-danger{
  background-color: red;
}

.text-warning{
  background-color: yellow;
}

.bg-info{
  color:gray;
}

.bg-success{
  color:purple;
}

.btn{
  color:red;
}

.btn-primary{
  color:blue;
}

.btn-danger{
  color:red;
}
